.header {

  padding: 6px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: bold;
  box-sizing: border-box;
}

.page {
  display: flex;
  width: 100%;
}

.form-section, .preview-section {
  width: 50%;
  padding: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"], textarea {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 20px;
}

#back-button {
  background-color: #f44336;
}

#start-button {
  background-color: #008CBA;
}